black
cdflib
ipympl
ipywidgets
isort
jupyterlab
matplotlib
numpy>=1.26
pre-commit


# This requirements are for development and testing only, not for production.
pytest
pytest-cov
scikit-image
scikit-image
scipy
spiceypy
xarray
