cdflib>=1.2.3
ipympl
ipywidgets
jupyterlab
matplotlib>=3.8.2
numpy>=1.26
scikit-image
scipy
spiceypy
xarray



# This requirements are for development and testing only, not for production.
pytest
pytest-cov
pre-commit
black
isort